.home-container{
    margin-left: 100px;
}
.welcome-text{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    position: absolute;
    margin-left: 520px;
    margin-top: 1px;;
    font-size: 25px;
    background-color:#24252A;
    color: #2ea8c7;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    width: 300px;
    height: 40px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow:  0px 10px 10px grey;
    
}
.category-text{
    font-family: "Montserrat",sans-serif;
}